.example-card {
    max-width: 500px;
    height: 500px;
}
  
.example-header-image {
    background-image: url("../../assets/placeholder_user.png");;
    background-size: cover;
}

.fullRow {
    width: 100%;
}

.card-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}