/* You can add global styles to this file, and also import other style files */
.body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    position: absolute;
    height: 80%;
    width: 70%;
    top: 10%;
    right: 15%
}

.header {
    padding: 2%;
}